<footer class="sticky-footer">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>
        Projekat za softverski inženjering 2 | 2018/2019. &nbsp;&nbsp;&nbsp;&nbsp; {{dateMessage}}</span>
    </div>
  </div>
</footer>