<div class="row">
  <div class="col-lg-9">
    <p *ngIf="manufacturers.length === 0">Nema proizvođača u bazi. Dodajte nove.</p>
    <table class="table" *ngIf="manufacturers.length">
      <thead>
        <tr>
          <td>Naziv</td>
          <td>Adresa</td>
          <td>E-mail</td>
          <td>Popust</td>
          <td>Akcija</td>
          <td>Logo</td>
        </tr>
      </thead>
      <tr *ngFor="let manufacturer of manufacturers">
        <td>{{ manufacturer.name }}</td>
        <td>{{ manufacturer.address }}</td>
        <td>{{ manufacturer.email }}</td>
        <td>{{ manufacturer.discount }} %</td>
        <td></td>
        <a class="navbar-item">           
            <img src="assets/img/lala.png">         
        </a>
        <td></td>
        <td>
          <i (click)="editManufacturerSide(manufacturer)" class="table-link edit">Izmeni</i>
          <i (click)="deleteManufacturer(manufacturer.id)" class="table-link delete">Оbriši</i>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-lg-3">
    <div *ngIf="manufacturer.id != null">
      <h4>Izmeni proizvođača:</h4>
      <hr>
      <form class="form">
        <label for="inlineFormInputName22">Naziv proizvođača</label>
        <input type="text" [(ngModel)]="manufacturer.name" name="name" class="form-control mb-2 mr-sm-2" id="inlineFormInputName22" placeholder="Naziv proizvođača">
        <label for="inlineFormInputName7">Adresa</label>
        <input type="text" [(ngModel)]="manufacturer.address" name="address" class="form-control mb-2 mr-sm-2" id="inlineFormInputName7" placeholder="Adresa">
        <label for="inlineFormInputName8">E-mail</label>
        <input type="text" [(ngModel)]="manufacturer.email" name="email" class="form-control mb-2 mr-sm-2" id="inlineFormInputName8" placeholder="Email">
        <label for="inlineFormInputName3">Popust po proizvođaču</label>
        <input type="text" [(ngModel)]="manufacturer.discount" name="discount" class="form-control mb-2 mr-sm-2" id="inlineFormInputName6" placeholder="Naziv proizvođača">

        <button type="button" (click)="editManufacturer()" class="btn btn-primary mb-2">Izmeni proizvođača</button>
      </form>
    </div>
    <hr>
    <div>
      <h4>Dodaj proizvođača:</h4>
      <hr>
      <form class="form">
        <label for="inlineFormInputName2">Naziv proizvođača</label>
        <input type="text" [(ngModel)]="newManufacturer.name" name="name" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Naziv proizvođača">

        <label for="inlineFormInputName77">Adresa</label>
        <input type="text" [(ngModel)]="newManufacturer.address" name="address" class="form-control mb-2 mr-sm-2" id="inlineFormInputName77" placeholder="Adresa">
        <label for="inlineFormInputName88">E-mail</label>
        <input type="text" [(ngModel)]="newManufacturer.email" name="email" class="form-control mb-2 mr-sm-2" id="inlineFormInputName88" placeholder="E-mail">
        <label for="inlineFormInputName3">Popust po proizvođaču</label>
        <input type="text" [(ngModel)]="newManufacturer.discount" name="discount" class="form-control mb-2 mr-sm-2" id="inlineFormInputName3" placeholder="Naziv proizvođača">

        <button type="button" (click)="insertManufacturer()" class="btn btn-primary mb-2">Dodaj proizvođača</button>
      </form>
    </div>

</div>
</div>
