<app-header (featureSelected)="onNavigate($event)" ></app-header>
<div id="wrapper">
  <app-sidebar></app-sidebar>
  <div id="content-wrapper">
    <div class="container-fluid">

      <!-- Breadcrumbs-->
      <!--<ol class="breadcrumb">-->
        <!--<li class="breadcrumb-item">-->
          <!--<a href="#">PCStore</a>-->
        <!--</li>-->
        <!--<li class="breadcrumb-item active">Overview</li>-->
      <!--</ol>-->

      <router-outlet></router-outlet>

      <app-footer></app-footer>
    </div>
  </div>
</div>
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

