
<div class="row" style="margin-top: 10px;">
  <div class="col-lg-12">
      <table class="table">
          <thead>
          <tr>
              <td>Naziv</td>
              <td>Količina</td>
              <td>Proizvođač</td>
              <td>Poručilac</td>
              <td>Datum</td>
              <td>Akcija</td>
          </tr>
          </thead>
          <ng-container *ngFor="let order of orders">
              <tr>
                  <td>{{ getProductName(order.product_id) }}</td>
                  <td>{{ order.amount }}</td>
                  <td>{{ getManufacturer(order.manufacturer_id) }}</td>
                  <td>{{ order.first_name + ' ' + order.last_name }}</td>
                  <td>{{ order.datetime }}</td>
                  <td>
                      <a (click)="sendOrder(order)" class="table-link edit">Naruči od dobavljača</a>
                      <a (click)="deleteOrder(order.id)" class="table-link delete">Obriši porudžbinu</a>
                  </td>
              </tr>
          </ng-container>

      </table>
  </div>
</div>
