<div id="login-page" class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Login</div>
      <div class="card-body">
      <form (ngSubmit)="onLogin(f)" #f="ngForm">
        <div class="form-group">
          <div class="form-label-group">
            <input 
            name="email" 
            type="email" 
            id="inputEmail" 
            class="form-control" 
            placeholder="Email address" 
            ngModel
            required email
            autofocus="autofocus">
            <label for="inputEmail">Email address</label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-label-group">
            <input 
            name="password" 
            type="password" 
            id="inputPassword" 
            class="form-control" 
            placeholder="Password" 
            ngModel
            required>
            <label for="inputPassword">Password</label>
          </div>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="remember-me">
              Remember Password
            </label>
          </div>
        </div>
        <div *ngIf="failed" class="form-group">
          <div class="alert alert-danger">
            Wrong email or password! Try again.
          </div>
        </div>
      <div class="row">
          <div class="col-12">
            <button class="btn btn-success" type="submit" [disabled]="!f.valid">Login</button>
            <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
          </div>
      </div>
      </form>
      </div>
    </div>
  </div>
</div>