
<div id="login-page" class="bg-dark">
    <div class="container">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header">Login</div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <div class="form-label-group">
                <input [(ngModel)]="userForm.email" name="email" type="email" id="inputEmail" class="form-control" placeholder="Email adresa" required="required" autofocus="autofocus">
                <label for="inputEmail">Email adresa</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input [(ngModel)]="userForm.password" name="password" type="password" id="inputPassword" class="form-control" placeholder="Lozinka" required="required">
                <label for="inputPassword">Lozinka</label>
              </div>
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="remember-me">
                  Zapamti me
                </label>
              </div>
            </div>
            <div *ngIf="failed" class="form-group">
              <div class="alert alert-danger" style="color: red;">
                Pogrešni podaci pristupa.
              </div>
            </div>
            <a class="btn btn-primary btn-block" (click)="login()">Uloguj se</a>
          </form>
        </div>
      </div>
    </div>
  </div>
