<!-- Sidebar -->
<ul class="sidebar navbar-nav">

  <li class="nav-item">
    <a class="nav-link" routerLink='/' routerLinkActive="active">
      <i class="fas fa-fw fa-table"></i>
      <span>Proizvodi</span>
    </a>
  </li>
  <li class="nav-item" *ngIf="user.role != '4'">
    <a class="nav-link" routerLink='/groups' routerLinkActive="active">
      <i class="fas fa-fw fa-grip-vertical"></i>
      <span>Grupe proizvoda</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink='/options' routerLinkActive="active">
      <i class="fas fa-fw fa-compact-disc"></i>
      <span> Opcije proizvoda</span>
    </a>
  </li>
  <li class="nav-item" *ngIf="user.role != '4'">
    <a class="nav-link" routerLink='/manufacturers' routerLinkActive="active">
      <i class="fas fa-building"></i>
      <span> Proizvođači</span>
    </a>
  </li>
  <li class="nav-item">
      <a class="nav-link" routerLink='/shopping-list' routerLinkActive="active">
        <i class="fas fa-fw fa-table"></i>
        <span> Korpa</span>
      </a>
  </li>

  <li class="nav-item">
      <a class="nav-link" routerLink='/sold-products' routerLinkActive="active">
        <i class="fas fa-fw fa-clipboard-check"></i>
        <span> Prodati proizvodi</span>
      </a>
  </li>
  <li class="nav-item" *ngIf="user.role != '4'">
      <a class="nav-link" routerLink='/orders' routerLinkActive="active">
        <i class="fas fa-fw fa-shuttle-van"></i>
        <span> Naručeni proizvodi</span>
      </a>
  </li>

  <hr>
  
  <li class="nav-item">
      <a class="nav-link" routerLink='/help' routerLinkActive="active">
        <i class="fa fa-question-circle"></i>
        <span> Pomoć</span>
      </a>
  </li>


    <hr>
    <li class="nav-item" *ngIf="logged">
        <a class="nav-link" (click)="logout()" routerLinkActive="active">
            <i class="fas fa-fw fa-user"></i>
            <span>Odjavi se</span>
        </a>
    </li>
</ul>
