<div class="row">
  <div class="col-md-7">
    <p *ngIf="groups.length === 0">Nema grupa u bazi. Dodajte nove.</p>
    <table class="table" *ngIf="groups.length">
      <thead>
        <tr>
          <td>Naziv</td>
          <td>Popust</td>
        </tr>
      </thead>
      <tr *ngFor="let group of groups">
        <td>{{ group.name }}</td>
        <td>{{ group.discount }} %</td>
        <td>
          <i (click)="editGroup = group" class="table-link edit">Izmeni</i>
          <i (click)="deleteGroup(group.id)" class="table-link delete">Obriši</i>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-md-5">
    <div *ngIf="editGroup.id != null">
      <h4>Izmeni grupu:</h4>
      <hr>
      <form class="form">
        <label for="inlineFormInputName2">Naziv grupe</label>
        <input type="text" [(ngModel)]="editGroup.name" name="name" class="form-control mb-2 mr-sm-2" id="inlineFormInputName5" placeholder="Naziv grupe">
        <label for="inlineFormInputName3">Popust grupe</label>
        <input type="text" [(ngModel)]="editGroup.discount" name="discount" class="form-control mb-2 mr-sm-2" id="inlineFormInputName6" placeholder="Naziv grupe">

        <button type="button" (click)="editGroups()" class="btn btn-primary mb-2">Izmeni grupu</button>
      </form>
    </div>
    <hr>
    <div>
      <h4>Dodaj grupu:</h4>
      <hr>
      <form class="form">
        <label for="inlineFormInputName2">Naziv grupe</label>
        <input type="text" [(ngModel)]="name" name="name" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Naziv grupe">
        <label for="inlineFormInputName3">Popust grupe</label>
        <input type="text" [(ngModel)]="discount" name="discount" class="form-control mb-2 mr-sm-2" id="inlineFormInputName3" placeholder="Naziv grupe">

        <button type="button" (click)="insertGroup()" class="btn btn-primary mb-2">Dodaj grupu</button>
      </form>
    </div>

</div>
</div>
