<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="index.html">PC Prodavnica</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>

    <!--&lt;!&ndash; Navbar Search &ndash;&gt;-->
    <!--<form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">-->
        <!--<div class="input-group">-->
            <!--<input type="text" class="form-control" placeholder="Traži..." aria-label="Search"-->
                   <!--aria-describedby="basic-addon2">-->
            <!--<div class="input-group-append">-->
                <!--<button class="btn btn-primary" type="button">-->
                    <!--<i class="fas fa-search"></i>-->
                <!--</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</form>-->


    <div class="hello-message">
        Zdravo {{ name }}. Vi ste {{ role }}!
    </div>

</nav>
