<div class="row">
    <div class="col-12">
        <form class="form-inline">

            <div class="form-group mb-2" *ngIf="user.role != '4'">
                <button type="button" class="btn btn-primary" (click)="addNewModal()">Dodaj novi proizvod</button>
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label style="margin-right: 15px;">Pretraga</label>
                <select class="form-control" name="group_id" [(ngModel)]="selectedGroup">
                    <option value="0">Sve grupe</option>
                    <option *ngFor="let group of groups" [value]="group.id">{{ group.name }}</option>
                </select>
            </div>
            <div class="form-group mb-2">
                <input class="form-control" type="text" placeholder="Naziv proizvoda..." [(ngModel)]="searchTerm" name="searchTerm" />
            </div>
        </form>

        <div class="legend">
            <p><strong>Legenda:</strong></p>
            <p><em style="background-color: #ffbcbc">Proizvodi kojih nema na stanju</em></p>
            <p><em style="background-color: #8ddae6">Proizvodi koji nisu prodati u poslednjih 30 dana</em></p>
        </div>

    </div>
    <br/>
</div>

<div class="row" style="margin-top: 10px;">
    <div class="col-lg-12">
        <table class="table">
            <thead>
            <tr>
                <td>Naziv</td>
                <td>Slika</td>
                <td>Link</td>
                <td>Garancija</td>
                <td>Na stanju</td>
                <td>Cena</td>
                <td>Popust</td>
                <td>Proizvođač</td>
                <td>Poslednji datum prodaje</td>
                <td>Broj prodatih artikla</td>
                <td>Akcija</td>
                
            </tr>
            </thead>
            <ng-container *ngFor="let item of items">
                <tr *ngIf="(selectedGroup == 0 || item.group_id == selectedGroup) && item.name.includes(searchTerm)"
                    [className]="item.amount == 0 ? 'nema' : checkIfSoldIn30Days(item.last_sold_date) ? 'ima' : 'nije'">
                    <td style="cursor: pointer" (click)="imageModal(item)">{{ item.name }}</td>
                    <td><img [src]="item.image" (click)="imageModal(item)" style="cursor: zoom-in; width: 50px;"/></td>
                    <td><a target="_blank" [href]="item.link"><i class="fas fa-external-link-square-alt"></i></a></td>
                    <td>{{ item.warranty }} dana</td>
                    <td>{{ item.amount }}</td>
                    <td>{{ discount(item.price, item.discount, item.group_id, item.manufacture_id)}}</td>
                    <td>{{ item.discount }} %</td>
                    <td>{{ getManufacturer(item.manufacture_id) }}</td>
                    <td>{{ item.last_sold_date == null ? 'Nikad' : item.last_sold_date}}</td>
                    <td>{{ kolicine }}</td>
                    <td>
                        <a *ngIf="item.amount > 0" (click)="sellProductModal(item)" class="table-link sell">Dodaj u korpu</a>
                        <a *ngIf="item.amount == 0" (click)="orderProductModal(item)" class="table-link sell">Naruči proizod</a>
                        <a (click)="editProduct(item)" class="table-link edit">Izmeni proizvod</a>
                        <a *ngIf="user.role != '4'" (click)="deleteProduct(item.id)" class="table-link delete">Obriši</a>
                        <a *ngIf="user.role != '4' && item.last_sold_date != null && !checkIfSoldIn30Days(item.last_sold_date)" (click)="setDiscount(item)" class="table-link discount">Odobri popust od {{getDiscount(item.last_sold_date)}}%</a>
                    </td>
                </tr>
            </ng-container>

        </table>
    </div>
</div>

<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">{{ item.name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p class="text-left">Opis proizvoda: {{ item.description }}</p>
                <img class="img img-thumbnail img-responsive" [src]="item.image" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">{{ edit ? 'Izmeni': 'Dodaj' }} proizvod</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group" [ngClass]="user.role == '4' ? 'hidden' : ''">
                                <label for="name" class="col-form-label">Ime proizvoda:</label>
                                <input type="text" [(ngModel)]="item.name" class="form-control" name="name" id="name"
                                       required="required">
                            </div>

                            <div class="form-group" [ngClass]="user.role == '4' ? 'hidden' : ''">
                                <label for="description" class="col-form-label">Opis:</label>
                                <input type="text" [(ngModel)]="item.description" class="form-control"
                                       name="description" id="description" required="required">
                            </div>

                            <div class="form-group" [ngClass]="user.role == '4' ? 'hidden' : ''">
                                <label for="description" class="col-form-label">Cena:</label>
                                <input type="number" [(ngModel)]="item.price" class="form-control" name="price"
                                       id="price" required="required">
                            </div>

                            <div class="form-group">
                                <label for="description" class="col-form-label">Količina:</label>
                                <input type="number" [(ngModel)]="item.amount" class="form-control" name="amount"
                                       id="amount" required="required">
                            </div>
                            <div class="form-group" [ngClass]="user.role == '4' ? 'hidden' : ''">
                                <label for="discount" class="col-form-label">Popust:</label>
                                <input type="number" [(ngModel)]="item.discount" class="form-control" name="discount"
                                       id="discount" required="required">
                            </div>
                        </div>

                        <div class="col-lg-6" [ngClass]="user.role == '4' ? 'hidden' : ''">

                            <div class="form-group">
                                <label for="image" class="col-form-label">Link do slike:</label>
                                <input type="text" [(ngModel)]="item.image" class="form-control" name="image" id="image"
                                       required="required">
                            </div>

                            <div class="form-group">
                                <label for="link" class="col-form-label">Web adresa:</label>
                                <input type="text" [(ngModel)]="item.link" class="form-control" name="link" id="link"
                                       required="required">
                            </div>

                            <div class="form-group">
                                <label for="warranty" class="col-form-label">Garancija:</label>
                                <input type="number" [(ngModel)]="item.warranty" class="form-control" name="warranty"
                                       id="warranty" required="required">
                            </div>

                            <div class="form-group">
                                <label for="warranty" class="col-form-label">Proizvođač:</label>
                                <select class="form-control" name="manufacture_id" [(ngModel)]="item.manufacture_id">
                                    <option *ngFor="let man of manufacturers" [value]="man.id">{{ man.name }}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="warranty" class="col-form-label">Grupa:</label>
                                <select class="form-control" name="group_id" [(ngModel)]="item.group_id">
                                    <option *ngFor="let group of groups" [value]="group.id">{{ group.name }}</option>
                                </select>
                            </div>
                        </div>

                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
                <!-- /////// NOVO /////// Dodat uslov za order-->
                <button type="button" *ngIf="!edit && !order" class="btn btn-primary" (click)="addNewProduct()">Sačuvaj</button>
                <button type="button" *ngIf="edit" class="btn btn-primary" (click)="editProductBackend()">Sačuvaj</button>
            </div>
        </div>
    </div>
</div>

<!-- /////// NOVO /////// Narucivanje proizvoda-->
<div class="modal fade" id="productModalOrder" tabindex="-1" role="dialog" aria-labelledby="productModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">{{ order ? 'Naruči': 'Izmeni' }} proizvod</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="order-name" class="col-form-label">Ime proizvoda:</label>
                                <input type="text" [value]="item.name" class="form-control" name="name" id="order-name"
                                       required="required">
                            </div>
                            <div class="form-group">
                                <label for="order-amount" class="col-form-label">Količina:</label>
                                <input type="number" [(ngModel)]="tmpItem2.amount" class="form-control" name="amount"
                                       id="order-amount" required="required">
                            </div>

                        </div>

                        <div class="col-lg-6">

                           <div class="form-group">
                                <label for="warranty" class="col-form-label">Proizvođač:</label>
                                <select class="form-control" name="manufacture_id" [value]="item.manufacture_id">
                                    <option *ngFor="let man of manufacturers" [value]="man.id">{{ man.name }}</option>
                                </select>
                            </div>

                        </div>

                    </div>
            </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
                <button type="button" *ngIf="order && !edit" class="btn btn-primary" (click)="orderProduct(item)">Naruči</button>
            </div>
        </div>
    </div>
</div>
