<div class="row">
  <div class="col-md-7">
    <p *ngIf="options.length === 0">Nema opcija u bazi. Dodajte nove.</p>
    <table class="table" *ngIf="options.length">
      <thead>
        <tr>
          <td>Naziv</td>
        </tr>
      </thead>
      <tr *ngFor="let option of options">
        <td>{{ option.name }}</td>
        <td>
          <i (click)="deleteOption(option.id)" class="fa fa-times" aria-hidden="true" style="cursor: pointer; color: red;"></i>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-md-5">
    <form class="form-inline">
      <label class="sr-only" for="inlineFormInputName2">Naziv opcije</label>
      <input type="text" [(ngModel)]="name" name="name" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Naziv opcije">

      <button type="button" (click)="insertOption()" class="btn btn-primary mb-2">Dodaj opciju</button>
    </form>
</div>
</div>
