<div class="row" style="margin-top: 10px;">
    <div class="col-lg-12">
        <table class="table">
            <thead>
            <tr>
                <td>Broj računa</td>
                <td>Datum prodaje</td>
                <td>Ukupna cena</td>
                <td>Akcija</td>
            </tr>
            </thead>
            <ng-container *ngFor="let bill of bills">
                <tr>
                    <td>
                      {{ bill.file }}
                    </td>
                    <td>
                      {{ bill.date }}
                    </td>

                    <td>
                      {{ bill.price }}
                    </td>
                    <!--<td style="cursor: pointer" (click)="imageModal(item)">{{ item.name }}</td>-->
                    <!--<td><img [src]="item.image" (click)="imageModal(item)" style="cursor: zoom-in; width: 50px;"/></td>-->
                    <!--<td><a target="_blank" [href]="item.link"><i class="fas fa-external-link-square-alt"></i></a></td>-->

                    <td>
                        <a target="_blank" [href]="'http://78.46.117.245/siii/frontend/uploads/' + bill.file" class="table-link sell">Pregledaj račun</a>
                    </td>
                </tr>
            </ng-container>

        </table>
    </div>
</div>
