<head>
    <style>
        p.oblique {
            font-style: oblique;
        }
    </style>
</head>

<body>
<div *ngIf="role=='Admin' || role=='Vlasnik'">
    <div class="oblique" style="color:royalblue;">
        <br/>
        Kao administrator ili vlasnik aplikacije imate mogućnost da na stranama održavate svoju online prodavnicu.
        <br/>

        Strane su podeljene u sledeće grupe:
        <div>

            Proizvodi:
            <ul>
                <li>Tabelarni pregled proizvoda</li>
                <li>Brzu pretragu proizvoda po grupi i nazivu</li>
                <li>Dodavanje novih proizvoda
                    <small> (klikom na dugme "Dodaj novi proizvod" otvara se forma za upisivanje svih potrebnih podataka
                        o
                        proizvodu.
                    </small>
                </li>
                <li>Izmena proizvoda
                    <small>(klikom na opciju u tabeli otvara se forma za izmenu proizvoda i njegovog stanja)</small>
                </li>
                <li>Brisanje proizvoda
                    <small>(klikom na opciju "Obriši" u tabeli)</small>
                </li>
                <li>Naručivanje proizvoda kojih nema na stanju
                    <small>(klikom na opciju u tabeli otvara se forma za naručivanje)</small>
                </li>
                <li>Prodaja proizvoda
                    <small>(klikom na opciju u tabeli proizvod se dodaje u korpu)</small>
                </li>
            </ul>
            <br/>
            Grupe proizvoda:
            <ul>
                <li>Tabelarni pregled svih grupa</li>
                <li>Dodavanje grupa
                    <small>popunjavanjem forme i klikom na dugme "Dodaj grupu"</small>
                </li>
                <li>Izmenu grupa</li>
                <li>Brisanje grupa</li>
            </ul>
            <br/>
            Opcije proizvoda:
            <ul>
                <li>Tabelarni pregled svih opcija</li>
                <li>Dodavanje opcija</li>
                <li>Brisanje opcija</li>
            </ul>
            <br/>
            Proizvođači:
            <ul>
                <li>Tabelarni pregled proizvođača</li>
                <li>Dodavanje proizvođača</li>
                <li>Izmenu proizvođača</li>
                <li>Brisanje proizvođača</li>
            </ul>
            Prodati proizvodi:
            <ul>
                <li>Pregled i preuzimanje PDF računa prodatih proizvoda</li>
            </ul>
            Naručeni proizvodi:
            <ul>
                <ul>
                    <li>Tabelarni pregled naručenih proizvoda</li>
                </ul>
            </ul>
            Korpa:
            <ul>
                <li>Tabelarni pregled proizvoda u korpi</li>
                <li>Brisanje proizvoda iz korpe
                    <small> (klikom na opciju "Ukloni")</small>
                </li>
                <li>Prodaja proizvoda
                    <small> (klikom na dugme "Prodaja" proizvodi iz korpe prelaze u prodate proizvode, nakon čega se
                        preuzima
                        PDF račun.)
                    </small>
                </li>
            </ul>
        </div>
    </div>
    <hr>
</div>

<div *ngIf="role=='Komercijalista'"><br/>
    <div class="oblique" style="color:royalblue;">
        <br/>
        Kao komercijalista imate mogućnost da na stranama održavate svoju online prodavnicu.
        <br/>

        Strane su podeljene u sledeće grupe:
        <div>

            Proizvodi:
            <ul>
                <li>Tabelarni pregled proizvoda</li>
                <li>Brzu pretragu proizvoda po grupi i nazivu</li>
                <li>Izmena proizvoda
                    <small>(klikom na opciju u tabeli otvara se forma za izmenu proizvoda i njegovog stanja)</small>
                </li>
                <li>Naručivanje proizvoda kojih nema na stanju
                    <small>(klikom na opciju u tabeli otvara se forma za naručivanje)</small>
                </li>
            </ul>
            <br/>
            Prodati proizvodi:
            <ul>
                <li>Pregled i preuzimanje PDF računa prodatih proizvoda</li>
            </ul>
            Naručeni proizvodi:
            <ul>
                <ul>
                    <li>Tabelarni pregled naručenih proizvoda</li>
                </ul>
            </ul>
        </div>
    </div>
    <hr>
</div>

<div *ngIf="role=='Radnik'"><br/>
    <div class="oblique" style="color:royalblue;">
        <br/>
        Kao radnik imate mogućnost da na stranama održavate svoju online prodavnicu.
        <br/>

        Strane su podeljene u sledeće grupe:
        <div>

            Proizvodi:
            <ul>
                <li>Tabelarni pregled proizvoda</li>
                <li>Brzu pretragu proizvoda po grupi i nazivu</li>
                <li>Brisanje proizvoda
                    <small>(klikom na opciju "Obriši" u tabeli)</small>
                </li>
                <li>Naručivanje proizvoda kojih nema na stanju
                    <small>(klikom na opciju u tabeli otvara se forma za naručivanje)</small>
                </li>
                <li>Prodaja proizvoda
                    <small>(klikom na opciju u tabeli proizvod se dodaje u korpu)</small>
                </li>
            </ul>
            <br/>

            Korpa:
            <ul>
                <li>Tabelarni pregled proizvoda u korpi</li>
                <li>Brisanje proizvoda iz korpe
                    <small> (klikom na opciju "Ukloni")</small>
                </li>
                <li>Prodaja proizvoda
                    <small> (klikom na dugme "Prodaja" proizvodi iz korpe prelaze u prodate proizvode, nakon čega se
                        preuzima
                        PDF račun.)
                    </small>
                </li>
            </ul>
        </div>
    </div>
    <hr>
</div>

</body>

