<div class="row">
    <div class="col-12">
        <form class="form-inline">
            <div class="form-group mb-2">
                <button type="button" class="btn btn-primary" (click)="sellProducts()">Prodaj</button>
            </div>
        </form>

    </div>
    <br/>
</div>


<div class="row" style="margin-top: 10px;">
    <div class="col-lg-12">
        <table class="table">
            <thead>
            <tr>
                <td>Naziv</td>
                <td>Slika</td>
                <td>Link</td>
                <td>Garancija</td>
                <td>Količina</td>
                <td>Cena</td>
                <td>Akcija</td>
            </tr>
            </thead>
            <ng-container *ngFor="let item of itemsForSale">
                <tr>
                    <td style="cursor: pointer" (click)="imageModal(item)">{{ item.name }}</td>
                    <td><img [src]="item.image" (click)="imageModal(item)" style="cursor: zoom-in; width: 50px;"/></td>
                    <td><a target="_blank" [href]="item.link"><i class="fas fa-external-link-square-alt"></i></a></td>
                    <td>{{ item.warranty }} dana</td>
                    <td>{{ item.amount }}</td>
                    <td>{{ item.price }}</td>
                    <td>
                        <a (click)="deleteProduct(item)" class="table-link delete">Ukloni</a>
                    </td>
                </tr>
            </ng-container>

        </table>
    </div>
</div>

<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">{{ item.name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p class="text-left">Opis proizvoda: {{ item.description }}</p>
                <img class="img img-thumbnail img-responsive" [src]="item.image" />
            </div>
        </div>
    </div>
</div>